*{
  background-color: rgb(2,81,2);
}
.stack{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
 
 
}
.row{
  gap:15px;
  text-align: center;
  align-items: center;
}

